.photo-container {
    width: 20%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.photo {
    width: 240px;
    height: 360px;
    border-radius: 5%;
}

.user-info-container {
    margin-left: 42.5%;
    margin-right: 30%;
    margin-top: 1%;
    text-align: left;
}

.username {
    text-size-adjust: 10%;
}

.status {
    color: grey;
}

.tag-container {
    display: inline-block;
}