.trick-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    padding: 30px;
    background: rgb(204, 239, 255);
}

.video {
    display: block;
    margin-left: auto;
    margin-right:auto;
    border-radius: 10px;
}

h5 {
    text-align: left;
}